[submodule "qmltermwidget"]
	path = qmltermwidget
	url = https://github.com/Adminrealagi/qmltermwidget
	branch = realagi/qt64-bdd
[submodule "KDSingleApplication"]
	path = KDSingleApplication
	url = https://github.com/KDAB/KDSingleApplication.git
