[Desktop Entry]
Comment=Use the command line the old way
Exec=realagi-retro-term
GenericName=Terminal emulator
Icon=realagi-retro-term
Name=Realagi Retro Term
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
Type=Application
Keywords=shell;prompt;command;commandline;
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=realagi-retro-term
